<div class="card">
  <div class="card-header bg-success text-white">
    Añadir nuevo ingrediente a la receta
  </div>
  <div class="card-block p-3">
    <form (ngSubmit)="addIngredient()">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label text-sm-right">Nombre del ingrediente</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="description" [(ngModel)]="newIngredient.name">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label text-sm-right">Cantidad</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="description" [(ngModel)]="newIngredient.quantity">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label text-sm-right">Unidad de medida</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="description" [(ngModel)]="newIngredient.measure">
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <button type="submit" class="btn btn-primary">
            Añadir
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
